build: false

environment:
  global:
      # SDK v7.0 MSVC Express 2008's SetEnv.cmd script will fail if the
      # /E:ON and /V:ON options are not enabled in the batch script intepreter
      # See: http://stackoverflow.com/a/13751649/163740
      CMD_IN_ENV: "cmd /E:ON /V:ON /C .\\appveyor\\run_with_env.cmd"
  matrix:
    - PYTHON: "C:\\Miniconda-x64"
      PYTHON_VERSION: "2.7"
      PYTHON_ARCH: "64"
      CONDA_PY: "27"
      CONDA_NPY: "110"

    # - PYTHON: "C:\\Python36_64"
    #   PYTHON_VERSION: "3.6"
    #   PYTHON_ARCH: "64"
    #   CONDA_PY: "36"
    #   CONDA_NPY: "110"
init:
  - "ECHO %PYTHON% %PYTHON_VERSION% %PYTHON_ARCH% %MINICONDA"

install:
  # - powershell .\\appveyor\\install.ps1
  - "SET PATH=%PYTHON%;%PYTHON%\\Scripts;%PATH%"

  - "conda config --set always_yes yes --set changeps1 no"
  # - "conda update -q conda"
  - "conda info -a"
  - "conda create -q -n buildfarm python=%PYTHON_VERSION% numpy==1.11.3 scipy==0.19.1 pip"
  - "activate buildfarm"

  - "pip install --upgrade --upgrade-strategy only-if-needed nibabel==2.1"
  - "pip install --upgrade --upgrade-strategy only-if-needed dipy==0.11"
  - "pip install --upgrade --upgrade-strategy only-if-needed joblib==0.14.1 cython==0.23 autodmri==0.2.1"
  - "pip install pytest"
  - 'pip install https://github.com/samuelstjean/spams-python/releases/download/0.1/spams-2.4-cp27-none-win_amd64.whl'

  - "%CMD_IN_ENV% pip install ."

# build_script:
#   - pip install cibuildwheel
#   - "%CMD_IN_ENV% cibuildwheel --output-dir wheelhouse"

cache:
  - C:\Users\appveyor\AppData\Local\pip\Cache\

test_script:
  - "cd C:\\"
  - pytest --pyargs nlsam --verbose

after_test:
  - "cd C:\\projects\\nlsam"
  - python setup.py sdist --formats=gztar
  - pip install pyinstaller
  - pyinstaller nlsam_denoising.spec --onefile
  - 7z a nlsam_%APPVEYOR_REPO_TAG_NAME%_windows_x64.zip ./dist/nlsam_denoising.exe LICENSE README.md CHANGELOG.md example/ docs/

artifacts:
  - path: dist/*.tar.gz
  - path: nlsam*windows_x64.zip

deploy:
  description: 'Release description'
  provider: GitHub
  auth_token:
    secure: CQNO3VUc9HHSetiBExiUYsL7xZDr3x+/GnlEQtPfDpkXafs0Ghui10pks7GTIyyD
  artifact: nlsam*windows_x64.zip, dist/*.tar.gz, *.tar.gz
  on:
    branch: master                 # release from master branch only
    appveyor_repo_tag: true        # deploy on tag push only
