numpy>=1.10.4
scipy>=0.19.1
cython>=0.21
nibabel>=2.0
dipy>=0.11
## Next line is the stable official version, after that the patched python3 version
# --find-links https://github.com/samuelstjean/spams-python/tarball/master#egg=spams-2.5
#  --find-links https://github.com/samuelstjean/spams-python/releases/download/0.1/spams-python-v2.5-python3.zip#egg=spams-2.5
--find-links https://github.com/samuelstjean/spams-python/releases/download/0.1/spams-2.6.zip#egg=spams-2.6
spams>=2.4
